.divFilter {
    margin: 2rem auto;
    width: 50rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.divFilter input {
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    padding-left: 1rem;
    background-color: var(--blue-100);
    width: 80%;
    height: 100%;
    color: white;
}

.divFilter button {
    border: none;
    border-radius: 8px;
    color: black;
    width: 70px;
}

main {
    margin: 1rem auto;
    border-radius: 8px;
    width: 50rem;
    background-color: var(--blue-200);
}

.contentList {
    padding: 1.6rem;
}

.contentList span {
    font-weight: 400;
    font-size: 24px;
    color: white;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

li {
    padding-top: 1rem;
    transition: all .2s;
    text-align: center;
    height: 5rem;
    background-color: var(--blue-100);
    border-radius: 8px;
    list-style: none;
}

li strong {
    text-decoration: underline;
    cursor: pointer;
    color: var(--white-500);
}

li p {
    margin-top: 10px;
    color: var(--white-300);
}

ul:has(li:hover) li:not(:hover) {
    opacity: 0.6;
    scale: .98;
}